<div class="container-fluid container-fluid-custom pb-5 mb-5">

  <div class="row mb-4">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Add Canvas</li>
        </ol>
      </nav>
      <div class="col d-flex justify-content-between align-items-center">
        <h1 class="h3">Add Canvas</h1>
      </div>
    </div>
  </div>


 

  <form action="/dashboard/add" method="POST" class="position-relative">
    <div class="form-group mb-4" >
      <input type="text" class="form-control fw-bold border-0 fs-4" id="title" name="title" placeholder="Title" required>
    </div>


    <div class="form-group mb-4" id="canvas-form">
      <textarea required class="form-control pt-5 fs-4" id="body" name="body" placeholder="Take a note..." rows="1"></textarea>
    </div>

    <div class="form-group" id ="add-button">
      <button type="submit"  id="submit" class="btn btn-primary btn-lg  ">+ Add </button>
      <button id="download-image" class="btn btn-primary btn-lg ml-15 ">Download image </button>
    </div>

  </form>



</div>

<div class="drawing-board">
  <table id="board"></table>

  <div class="tools">
    <div class="color-palette">
      <h5 class="tool-content"> Color picker</h5>
        <table id="colorPalette">
            
        </table>
    </div>

     <div class="selected-color" id="color-box"></div>
    <div class="controls">
       <div title="draw" class="control-button" id="draw">🖌</div>
       <div title="fill shape" class="control-button" id="filler">🎨</div>
       <div  title="reset" class="control-button" id ="cleaner">🧹</div>

    </div>
   
  </div>
</div>

